<.header>
  Edit User <%= @user.id %>
  <:subtitle>Use this form to manage user records in your database.</:subtitle>
</.header>

<.user_form changeset={@changeset} action={~p"/dependent_users/#{@user}"} />

<.back navigate={~p"/dependent_users"}>Back to dependent_users</.back>
