<.header>
  User <%= @user.id %>
  <:subtitle>This is a user record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/dependent_users/#{@user}/edit"}>
      <.button>Edit user</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Name"><%= @user.name %></:item>
</.list>

<.back navigate={~p"/dependent_users"}>Back to dependent_users</.back>
